.DS_Store
.AppleDouble
.LSOverride

.env
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

tmp/
outputs/
All_Papers_For_EndNote/
just downloaded/
04_Audit/
05_Archive/

01_Data/Raw/**
!01_Data/Raw/**/
!01_Data/Raw/**/.gitkeep

01_Data/Processed/**
!01_Data/Processed/**/
!01_Data/Processed/**/.gitkeep

*.docx
*.pptx
*.pdf
*.zip
*.tar.gz
*.tar.xz
*.7z

*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.fgb
*.tif
*.tiff
*.geotiff
